@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font stack and small resets to match demo look */
html,body,#__next { height: 100%; }
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(135deg,#fff7ed 0%, #fff1f2 100%);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
